.coolBorder {
      border: 2px solid black;
      padding: 50px;
      outline: black solid 3px;
      outline-offset: 5px;
      background-color: #112244;
      width: 65%;
      margin: auto;
    }

.coolBorder p{
    color: #ffffff;
  }
